<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img class="logo" src="./assets/logo.png" height="24">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Planning Tools
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink="/calendar" routerLinkActive="active">Calendar</a>
              <a class="dropdown-item" routerLink="/driver-training" routerLinkActive="active">Driver Training</a>
              <a class="dropdown-item" routerLink="/finances" routerLinkActive="active">Finances</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Race Tools
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="/race-strategy" routerLinkActive="active">Race Strategy</a>
            <a class="dropdown-item" routerLink="/wear-calculator" routerLinkActive="active">Part Wear Calculator</a>
            <a class="dropdown-item" routerLink="/wingsplits" routerLinkActive="active">Wingsplits</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
